@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
$white-color: #fff;
$black-color: #000;

$max-width: 1250px;

// ? palette
$primary: #0e0eed;
$secondary: #9864ff;
$font-color: #555454;

$font-family: "Roboto", sans-serif;
